<ion-content class="login-content" [fullscreen]="true">
  <div class="page-wrapper">

    <!-- Header Logos -->
    <div class="header">
      <div class="logo-circle">
        <img src="assets/dti-logo.png" alt="DTI Logo" />
      </div>
      <div class="logo-circle1">
        <img src="assets/bp-logo.png" alt="BP Logo" />
      </div>
    </div>

    <!-- Department Text -->
    <h2 class="department">
      DEPARTMENT OF TRADE AND INDUSTRY<br />
      <span>REGION II</span><br />
      <small class="division">Consumer Protection Division</small>
    </h2>

    <!-- Login Card -->
    <div class="login-box">
      <h3>LOG IN TO YOUR ACCOUNT</h3>

      <!-- Email -->
      <div class="form-group">
        <label>Email</label>
        <ion-item lines="none" class="field">
          <ion-input
            [(ngModel)]="email"
            type="email"
            placeholder="Enter your email">
          </ion-input>
        </ion-item>
      </div>

      <!-- Password -->
      <div class="form-group">
        <label>Password</label>
        <ion-item lines="none" class="field">
          <ion-input
            [(ngModel)]="password"
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter your password">
          </ion-input>

          <ion-icon
            slot="end"
            class="eye"
            [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"
            (click)="togglePassword()">
          </ion-icon>
        </ion-item>
      </div>

      <ion-button expand="block" (click)="login()" [disabled]="loading">
        {{ loading ? 'LOGGING IN...' : 'LOG IN' }}
      </ion-button>

      <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>

      <!-- Forgot Password Link -->
      <p class="forgot-password-link">
        <span (click)="goToForgotPassword()">Forgot Password?</span>
      </p>

      <!-- Signup Link -->
      <p class="signup-link">
        Don't have an account? <span (click)="goToSignup()">Sign up</span>
      </p>
    </div>

  </div>
</ion-content>